* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

#root {
  position: relative;
  height: 100vh;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1em;
}

.main {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  padding: 1em;
  gap: 1em;
}

.book {
  display: flex;
  flex-direction: column;
  background-color: burlywood;
  padding: 1em;
  height: 250px;
}

.book div {
  flex: 1;
}

.book h2 {
  font-size: 16px;
  margin-bottom: 0.5em;
}

.author {
  font-size: 12px;
}

.pages {
  text-align: center;
  font-size: 10px;
  font-style: italic;
}

.add-btn-container {
  position: absolute;
  bottom: 20px;
  right: 20px;
}

.add-btn {
  font-size: 32px;
  border-radius: 100%;
  padding: 0.25em;
  height: 60px;
  width: 60px;
}

.add-btn:hover {
  cursor: pointer;
}
@media screen and (min-width: 601px) and (max-width: 960px) {
  #root {
    display: flex;
    position: relative;
    flex-direction: column;
  }
  .header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1em;
  }

  .main {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 1em;
    gap: 2em;
  }

  .book {
    display: flex;
    flex-direction: column;
    background-color: burlywood;
    padding: 1em;
    height: 250px;
  }

  .book div {
    flex: 1;
  }

  .book h2 {
    font-size: 16px;
    margin-bottom: 0.5em;
    text-align: center;
  }

  .author {
    font-size: 12px;
    text-align: center;
  }

  .pages {
    text-align: center;
    font-size: 10px;
    font-style: italic;
  }

  .add-btn-container {
    position: absolute;
    bottom: 20px;
    right: 20px;
  }

  .add-btn-container {
    position: absolute;
    bottom: 10px;
    right: 20px;
  }

  .add-btn {
    font-size: 32px;
    border-radius: 100%;
    padding: 0.25em;
    height: 60px;
    width: 60px;
  }

  .add-btn:hover {
    cursor: pointer;
  }
}

@media screen and (max-width: 601px) {
  #root {
    display: flex;
    flex-direction: column;
  }
  .header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1em;
    text-align: center;
  }

  .main {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 1em;
    gap: 2em;
  }

  .book {
    display: flex;
    flex-direction: column;
    background-color: burlywood;
    padding: 1em;
    height: 250px;
  }

  .book div {
    flex: 1;
  }

  .book h2 {
    font-size: 16px;
    margin-bottom: 0.5em;
    text-align: center;
  }

  .author {
    font-size: 12px;
    text-align: center;
  }

  .pages {
    text-align: center;
    font-size: 10px;
    font-style: italic;
  }

  .add-btn-container {
    position: absolute;
    bottom: 20px;
    right: 20px;
  }
}
.modal {
  display: none;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
}

.modal-container {
  background: url(back1.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-color: beige;
  display: flex;
  flex-direction: column;
  gap: 2em;
  padding: 2em;
  height: 400px;
}
.modal-container h2 {
  color: white;
  text-align: center;
  font-weight: 100;
}
.modal-container input {
  height: 32px;
  width: 320px;
}

.modal-container button {
  height: 32px;
  font-size: 16px;
}

.add-book-btn:hover {
  cursor: pointer;
}
.add-book-btn:active {
  background-color: black;
  color: white;
}
:hover {
  cursor: pointer;
}
.cancel-btn:active {
  background-color: black;
  color: white;
}
